Regolamento Interno CER – {{cer.nome}}
Cabina: {{cer.cabina}}

Ruoli, riparti e conguagli conformi a DM 07/12/2023 e Regole GSE.
Riparti: Prod {{riparti.producer}}% / Prosum {{riparti.prosumer}}% / Cons {{riparti.consumer}}% / CERTOUSER {{riparti.certouser}}%

Membri registrati:
{{#membri}}- {{display_name}} ({{role}})
{{/membri}}
